//tipografia
$T-r: 'Raleway','Open Sans';
$T-b: 'Brush Script MT', 'Times New Roman';

//tamaños
$text-a: 24px;
$text-b: 16px;
$text-c: 14px;
$text-d: 180px;
$text-e: 160px;
$text-f: 60px;
$text-g: 12px;

//grosor
$G-lt: 300;
$G-bd: 700;
$G-bk: 900;
$G-rr: 400;
$G-mm: 500;

//espaciado
$E-3: 3px;
$E-1: 1.5px;
$E-7: .75px;

//colores
$c-a: #5B71DD;
$c-b: #B4C0FF;
$c-c: #000000;
$c-d: #6E6E6E;
$c-e: #FFFFFF;